.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer {
    flex-shrink: 0;
}
.footer-subunit{
    margin:  0.4rem 1.5rem;;
}

.footer-logos-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo{
    margin:  0.25rem;
    max-width: 25px;
}

.footer-license{
    margin-left: 0.5rem;
}
