.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.15);
}

.footer-subunit{
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.footer-logos-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo{
    margin: 0.5rem;
    max-width: 25px;
}

.footer-license{
    margin-left: 0.5rem;
}
