.home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    overflow: auto;
}

.welcome-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 500px;
    margin: 4% 0;
    background-image: url("../assets/background-photo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.77);
    background-blend-mode: lighten;
}

.recommended-products-card{
    width: 40%;
    height: 45%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(30%, 100%), 1fr));
    gap: 20px;
}


.home-page p {
    color: black;
    padding: 1rem;
}

.home-page h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3a3d5c;
    padding: 1rem;
}

.home-link {
    color: rgba(99, 106, 232);
    text-decoration: underline;
    font-size: 0.95rem;
}