.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo {
    margin: 1rem 2rem;
    width: 40px;
    height: 40px;
}

.nav-inactive-logout{
    color: red;
    margin: 1.5rem 1rem;
    font-weight: 400;
    font-size: 0.95rem;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease, border-bottom 0.2s ease;
}

.nav-active {
    text-decoration: none;
    text-decoration-color: rgba(99, 106, 232);
    color: rgba(99, 106, 232);
}