.login-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.login-navbar__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.login-navbar__logo {
    margin: 1rem 2rem;
    width: 40px;
    height: 40px;
}